@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

#root {
    width: 100%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #5486f0;
}
/* Base styles remain unchanged */
.swiper-button-next,
.swiper-button-prev {
    background-color: white !important;
    color: blue !important;
    margin-top: -40px !important;
    padding: 40px 0 !important;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2) !important;
    transition: background-color 0.3s ease !important;
}
.swiper-button-next {
    border-radius: 10% 0% 0% 10%;
    margin-right: -10px;
}
.swiper-button-prev {
    border-radius: 0% 10% 10% 0%;
    margin-left: -10px;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: #4b5563 !important;
    color: white !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 1rem !important;
    font-weight: bold !important;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }
}
