@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #5486f0;
}
